In [2]:
import numpy as np
import pandas as pd

In [47]:
big_list = range(1000000)

# In case you dont specify the dtype to int64, the result will be not accurate due to integer overflow

big_numpy_array = np.array(big_list,dtype=np.int64)

In [48]:
%%time

result = 0
for i in big_list:
    result += i
    
print(result)

499999500000
CPU times: total: 109 ms
Wall time: 103 ms

In [49]:
%%time
# optimized but not vectorized
sum(big_list)

CPU times: total: 31.2 ms
Wall time: 32.9 ms

499999500000

In [50]:
%%time
# vectorized solution
big_numpy_array.sum()

CPU times: total: 0 ns
Wall time: 997 µs

499999500000

In [52]:
data_small = pd.read_csv('train.csv')

In [54]:
data_small.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [55]:
data_big = pd.concat([data_small]*1000, ignore_index=True)
data_big.shape

(891000, 12)

In [57]:
%%time

fare_with_tax = np.zeros(len(data_small))

for idx, fare in enumerate(data_small['Fare'].values):
    fare_with_tax[idx] = (fare*1.05) + 1

CPU times: total: 0 ns
Wall time: 998 µs

In [58]:
%%time

fare_with_tax = np.zeros(len(data_big))

for idx, fare in enumerate(data_big['Fare'].values):
    fare_with_tax[idx] = (fare*1.05) + 1

CPU times: total: 531 ms
Wall time: 539 ms

In [65]:
%%time

fare_with_tax = np.zeros(len(data_big))
fare_with_tax = data_big['Fare']*1.05 +1

CPU times: total: 15.6 ms
Wall time: 4.99 ms

In [66]:
%%time
age_diff = data_big['Age'] - data_big['Age'].shift(1)

CPU times: total: 0 ns
Wall time: 4.99 ms

In [67]:
%%time

# splitting data into bins
age_categories = pd.cut(data_big['Age'],bins=[0,18,50,100],labels = ['young','adult','elderly'])

CPU times: total: 31.2 ms
Wall time: 26.9 ms

In [69]:
%%time

data_big['Sex'].value_counts()

CPU times: total: 31.2 ms
Wall time: 43.9 ms

male      577000
female    314000
Name: Sex, dtype: int64

In [70]:
%%time

# checking if the element is in the list
cq_1 = data_big['Embarked'].apply(lambda x : x in ['C','Q'])

CPU times: total: 141 ms
Wall time: 137 ms

In [71]:
%%time

cq_2 = data_big['Embarked'].isin(['C','Q'])

CPU times: total: 15.6 ms
Wall time: 18.9 ms

In [72]:
embarked_map = {
    'Q':'Queenstown',
    'C':'Cherboury',
    'S':'Southampton'
}

In [73]:
%%time

embarked_full_names = data_big['Embarked'].apply(lambda x: embarked_map.get(x,x))

CPU times: total: 141 ms
Wall time: 121 ms

In [75]:
%%time

embarked_full_names = data_big['Embarked'].map(embarked_map)

CPU times: total: 62.5 ms
Wall time: 36.9 ms

In [76]:
# always filter using bool masked inside the column dataframe and not the dataframe and then get the column out
men_filter = data_big['Sex'] == 'male'

In [78]:
%%time

max_men_fare = data_big['Fare'][men_filter].max()

CPU times: total: 15.6 ms
Wall time: 8.98 ms